<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Our Craigslist</h1>
      <h2>The easiest way to find apartment rentals</h2>
    </div>
    
    <%= render 'filter' %>
  </div>
</div>