// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.containerpost
{
    width: 80%;
    height: 80%;
    border-style: double;
    padding: 30px;
}
