// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: #9096D4;
}

.containerlogin
{
    width: 80%;
    height: 80%;
    border-style: double;
    padding: 30px;
}

